<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />

  <title>{{ pet.name }} | Happy</title> <!-- retirar nome e colocar descrição ou raça e foto -->

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  <link rel="icon" href="/images/logo-icon.ico" />
  <link rel="stylesheet" href="/css/animation.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/sidebar.css" />
  <link rel="stylesheet" href="/css/buttons.css" />
  <link rel="stylesheet" href="/css/map.css" />
  <link rel="stylesheet" href="/css/page-pet.css" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet" />
</head>

<body>
  <div id="page-pet">
    <aside class="animate-right sidebar">
      <img src="/images/small-dog.png" alt="Imagem de cachorro" />

      <footer>
        <button onclick="history.back()">
          <img src="/images/arrow-back.svg" alt="Voltar" />
        </button>
      </footer>
    </aside>

    <main class="animate-appear with-sidebar">
      <div class="pet-details">
        <img src="{{pet.firstImage}}" alt="{{ pet.name }}" />

        <div class="images">

          {{#each pet.images }}
          <button onclick="selectImage(event)" class="active" type="button">
            <img src="{{this}}" alt="{{ pet.name }}" />
          </button>
          {{/each}}
        </div>

        <div class="pet-details-content">
          <h1>{{ pet.name }}</h1>
          <p>
            {{ pet.about }}
          </p>

          <div class="map-container">
            <div id="mapid"></div>

            <span id="datamarker" data-lat="{{pet.lat}}" data-lng="{{pet.lng}}">
            </span>

            <footer>
              <a target="_blank" href="http://maps.google.com/mobile?q={{pet.lat}},{{pet.lng}}&z=15">Ver rotas no Google
                Maps</a>
            </footer>
          </div>

          <hr />

          <a href="https://api.whatsapp.com/send?=pt_BRphone={{pet.whatsapp}}&text=Oii {{pet.name}}, tenho interesse em falar sobre o pet que você mencionou no AdoptUs" target="_blank" class="primary-button" type="button">
              <img src="/images/whatsapp.svg" alt="Entrar em contato"/>Entrar em contato
          </a>

        </div>
      </div>
    </main>
  </div>
  <script src="/scripts/page-pet.js"></script>
</body>

</html>